<div class="alert alert-info" role="alert">
    <b>Ahora puedes copiar tu código usando tu teclado.</b>
    Ej. Estás en tu formulario, <kbd><kbd>Ctrl</kbd> + <kbd>Tab</kbd></kbd>, <kbd>3</kbd>, <kbd><kbd>Ctrl</kbd> + <kbd>Tab</kbd></kbd> y <kbd><kbd>Ctrl</kbd> + <kbd>V</kbd></kbd>. Listo! Ya tienes pegado tu <b>CIF</b>!
</div>

<div class="card-deck">

    <div class="card border-info">
        <div class="card-header text-info">NIF, NIE, CIF</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>NIF</b><span class="float-right" title="Pulsa la tecla 1 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 1</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_nif" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_nif'></span>
                    </span>
                </li>
                <li class="list-group-item">
                    <b>NIE</b><span class="float-right" title="Pulsa la tecla 2 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 2</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_nie" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_nie'></span>
                    </span>
                </li>
                <li class="list-group-item">
                    <b>CIF</b><span class="float-right" title="Pulsa la tecla 3 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 3</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_cif" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_cif'></span>
                    </span>
                </li>
              </ul>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header text-info">IBAN, CCC, Tarjeta de crédito</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>IBAN</b><span class="float-right" title="Pulsa la tecla 4 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 4</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_iban" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_iban'></span>
                    </span>
                </li>
                <li class="list-group-item">
                    <b>CCC</b><span class="float-right" title="Pulsa la tecla 5 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 5</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_ccc" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_ccc'></span>
                    </span>
                </li>
                <li class="list-group-item">
                    <b>Tarjeta</b><span class="float-right" title="Pulsa la tecla 6 de tu teclado para copiar y generar otro" data-toggle="tooltip"> <kbd><i class="fa fa-keyboard" style="color:white;"></i> 6</kbd></span>
                    <span class="albert copy_html hand" data-clipboard-target="#a_result_tarjeta" data-toggle="tooltip" title="Click para copiar">
                        <span id='a_result_tarjeta'></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>

</div>
<br>
<div class="text-center">
<button class="btn btn-outline-info albert_thirdy btn-lg">REGENERA TODO <kbd><i class="fa fa-keyboard" style="color:white;"></i> Espacio</kbd></button>
</div>



