<div class="container text-black-50 text-center align-middle">
    <!--<div class="display-3 text-primary">-->
        <!--Cronómetro Online-->
    <!--</div>-->
    <div class="display-1 text-dark-50 bg-white" id="chronotime"></div>
    <div>
        <form name="chronoForm">
            <div class="btn-group expand_all" role="group">
                <button id='startstop' type="button" class="btn btn-lg btn-info" name="startstop" onClick="chronoStart()"><i class="fa fa-caret-square-left"></i> Iniciar</button>
                <button id='reset' type="button" class="btn btn-lg btn-secondary" name="reset" onClick="chronoReset()">Reiniciar <i class="fa fa-caret-square-right"></i></button>
            </div>
        </form>
    </div>
</div>