<div class="card-deck">
     <!-- AUSTRIA -->
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-flag"></i> <span class="text-info"><b>AUSTRIA</b></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-11 col-sm-12">
                    <span class="albert copy_html hand" data-clipboard-target="#result_nif_at" data-toggle="tooltip" title="Click para copiar">
                        <span id='result_nif_at'></span>
                    </span>
                </div>
                <a href="#historial_nif_at_collapsible" data-toggle="collapse" class="historial hand">
                    <span data-toggle="tooltip" title="Mostrar/Esconder historial">
                        <i class="fas fa-history"></i>
                    </span>
                </a>
            </div>

            <div class="collapse" id="historial_nif_at_collapsible">
                <br>
                <p>Historial:</p>
                <ul id="historial_nif_at" class="col_historic">
                </ul>
                <div class="row justify-content-md-center">
                    <button id="clean_historic_nif_at" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Limpiar</button>
                    <button id="download_nif_at" class="btn btn-outline-info"><i class="fa fa-download"></i> Descargar</button>
                </div>
            </div>
            <hr>
            <button class="btn btn-lg btn-outline-info btn-block pull-right" id='nif_at' data-toggle="tooltip" title="Genera otro">
                DNI Austria <i class="fa fa-redo"></i>
            </button>
        </div>
        <div class="card-footer">
            <i class="fa fa-info"></i> Formato: <b>UNNNNNNNC</b>
            <ul class="list-group">
                <li class="list-group-item"><b>'U'</b></li>
                <li class="list-group-item"><b>NNNNNNN</b>: 7 dígitos</li>
                <li class="list-group-item"><b>C</b>: 1 dígito de control</li>
            </ul>
        </div>
    </div> <!-- AUSTRIA -->

    <!-- BELGICA -->
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-flag"></i> <span class="text-info"><b>BÉLGICA</b></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-11 col-sm-12">
                    <span class="albert copy_html hand" data-clipboard-target="#result_nif_be" data-toggle="tooltip" title="Click para copiar">
                        <span id='result_nif_be'></span>
                    </span>
                </div>
                <a href="#historial_nif_be_collapsible" data-toggle="collapse" class="historial hand">
                    <span data-toggle="tooltip" title="Mostrar/Esconder historial">
                        <i class="fas fa-history"></i>
                    </span>
                </a>
            </div>

            <div class="collapse" id="historial_nif_be_collapsible">
                <br>
                <p>Historial:</p>
                <ul id="historial_nif_be" class="col_historic">
                </ul>
                <div class="row justify-content-md-center">
                    <button id="clean_historic_nif_be" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Limpiar</button>
                    <button id="download_nif_be" class="btn btn-outline-info"><i class="fa fa-download"></i> Descargar</button>
                </div>
            </div>
            <hr>
            <button class="btn btn-lg btn-outline-info btn-block pull-right" id='nif_be' data-toggle="tooltip" title="Genera otro">
                DNI Bélgica <i class="fa fa-redo"></i>
            </button>
        </div>
        <div class="card-footer">
            <i class="fa fa-info"></i> Formato: <b>NNNNNNNNDC</b>
            <ul class="list-group">
                <li class="list-group-item"><b>NNNNNNNN</b>: 8 dígitos</li>
                <li class="list-group-item"><b>DC</b>: 2 dígitos de control</li>
            </ul>
        </div>
    </div> <!-- BELGICA -->

    <!-- ITALIA -->
    <div class="card border-info">
        <div class="card-header">
            <i class="fa fa-flag"></i> <span class="text-info"><b>ITALIA</b></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-11 col-sm-12">
                    <span class="albert copy_html hand" data-clipboard-target="#result_nif_it" data-toggle="tooltip" title="Click para copiar">
                        <span id='result_nif_it'></span>
                    </span>
                </div>
                <a href="#historial_nif_it_collapsible" data-toggle="collapse" class="historial hand">
                    <span data-toggle="tooltip" title="Mostrar/Esconder historial">
                        <i class="fas fa-history"></i>
                    </span>
                </a>
            </div>

            <div class="collapse" id="historial_nif_it_collapsible">
                <br>
                <p>Historial:</p>
                <ul id="historial_nif_it" class="col_historic">
                </ul>
                <div class="row justify-content-md-center">
                    <button id="clean_historic_nif_it" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Limpiar</button>
                    <button id="download_nif_it" class="btn btn-outline-info"><i class="fa fa-download"></i> Descargar</button>
                </div>
            </div>
            <hr>
            <button class="btn btn-lg btn-outline-info btn-block pull-right" id='nif_it' data-toggle="tooltip" title="Genera otro">
                DNI Italia <i class="fa fa-redo"></i>
            </button>
        </div>
        <div class="card-footer">
            <i class="fa fa-info"></i> Formato: <b>NNNNNNNNNNC</b>
            <ul class="list-group">
                <li class="list-group-item"><b>NNNNNNNNNN</b>: 10 dígitos</li>
                <li class="list-group-item"><b>C</b>: 1 dígito de control</li>
            </ul>
        </div>
    </div>
    <!--<div class="card border-info">-->
        <!--<div class="card-header">-->
            <!--<i class="fa fa-flag"></i> <span class="text-info"><i>En construcción...</i></span>-->
        <!--</div>-->
        <!--<div class="card-body text-center">-->
            <!--Seguimos trabajando para añadir más documentos-->
            <!--<br>-->
            <!--<br>-->
            <!--<i class="fa fa-cog fa-spin"></i>-->
        <!--</div>-->
    <!--</div> &lt;!&ndash; En construccion &ndash;&gt;-->
</div>