<div class="card-columns">
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="dni">
        <div class="card-body text-center">
            <a class="display-4">DNI</a>
            <p>NIF, NIE, CIF</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="iban">
        <div class="card-body text-center">
            <a class="display-4">Generador de IBAN</a>
            <p>Genera códigos de cuenta correinte, códigos IBAN y tarjetas crédito</p>
            <h4>Añadido código SWIFT/BIC</h4>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="qr">
        <div class="card-body text-center">
            <a class="display-4">QR y Barras</a>
            <p>Genera códigos QR y códigos de barras personalizados</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="lorem">
        <div class="card-body text-center">
            <a class="display-4">Textos</a>
            <p>Genera textos estilo Lorem Ipsum</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="profiles">
        <div class="card-body text-center">
            <a class="display-4">Personas y Empresas</a>
            <p>Genera datos básicos de personas y empresas</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="password">
        <div class="card-body text-center">
            <a class="display-4">Contraseñas</a>
            <p>Genera contraseñas seguras y valida quan robustas son</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="otrosdc">
        <div class="card-body text-center">
            <a class="display-4">Pasaporte, Código LEI, Seguridad social y <i class="fas fa-certificate text-warning"></i>CUPS</a>
            <p>Genera números de pasaporte y códigos de la Seguridad Social</p>
            <h5>Genera y valida códigos LEI</h5>
            <h3>Genera números CUPS de luz y gas</h3>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="europeo">
        <div class="card-body text-center">
            <a class="display-4">NIFs europeos</a>
            <p><i class="fas fa-certificate text-warning"></i> Genera códigos DNI de otros países europeos</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="vehicle">
        <div class="card-body text-center">
            <a class="display-4">Matrículas y bastidores</a>
            <p>Genera números de matrícula y bastidores de vehículos</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="allin1">
        <div class="card-body text-center">
            <a class="display-4">Todo en 1</a>
            <p>NIF, NIE, CIF, CCC, IBAN y tarjeta de crédito todo en la misma página</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="masivo">
        <div class="card-body text-center">
            <a class="display-4">Masivo</a>
            <p>Genera códigos masivamente y descárgalos en .txt o .csv</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="crono">
        <div class="card-body text-center">
            <a class="display-4">Cronómetro</a>
            <p>Un cronómetro gigante. Nunca viene mal</p>
        </div>
    </div>
    <div class="card card_home hand text-black-50" data-role="menu_home" data-menu-home-id="count">
        <div class="card-body text-center">
            <a class="display-4">Contar caracteres</a>
            <p>Pega tu texto y cuenta los caracteres que contiene</p>
        </div>
    </div>
</div>