<div class="row checkbox-options ">
    <div class="col-md-12">
        <label>Escoge el idioma:</label>
        <div class="btn-group btn-group-md expand_all" role="toolbar">
            <button type="button" class="btn btn-default btn-info text-style" value="LATIN" title="Latín" data-toggle="tooltip">Latín</button>
            <button type="button" class="btn btn-default text-style" value="SPANISH" title="Español" data-toggle="tooltip">Español</button>
            <button type="button" class="btn btn-default text-style" value="ENGLISH" title="English" data-toggle="tooltip">English</button>
        </div>
    </div>
</div>
<br>
<div class="card-deck">
    <div class="card border-info">
        <div class="card-header">
            <span class="text-info"><b>Caracteres</b></span>
        </div>
        <div class="card-body">
            <div class="col_historic">
                <span class="albert_mini copy_html hand" data-clipboard-target="#result_lorem_char" data-toggle="tooltip" title="Click para copiar">
                    <span id='result_lorem_char'></span>
                </span>
            </div>
            <br>
            <div class="input-group">
                <input type="number" class="form-control" id='lorem_char' max='8192' title="Número de caracteres" placeholder="Ej. 256" value="256">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" id='lorem_char_btn' title="Genera" data-toggle="tooltip">Genera caracteres <i class="fa fa-redo"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header">
            <span class="text-info"><b>Palabras</b></span>
        </div>
        <div class="card-body">
            <div class="col_historic">
                <span class="albert_mini copy_html hand" data-clipboard-target="#result_lorem_word" data-toggle="tooltip" title="Click para copiar">
                    <span id='result_lorem_word'></span>
                </span>
            </div>
            <br>
            <div class="input-group ">
                <input type="number" class="form-control" id='lorem_word' max="10000" title="Número de palabras" placeholder="Ej. 20" value="20">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" id='lorem_word_btn' title="Genera" data-toggle="tooltip">Genera palabras <i class="fa fa-redo"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card-deck">
    <div class="card border-info">
        <div class="card-header">
            <span class="text-info"><b>Frases</b></span>
        </div>
        <div class="card-body">
            <div class="col_historic">
                <span class="albert_mini copy_html hand" data-clipboard-target="#result_lorem_sentence" data-toggle="tooltip" title="Click para copiar">
                    <span id='result_lorem_sentence'></span>
                </span>
            </div>
            <br>
            <div class="input-group ">
                <input type="number" class="form-control" id='lorem_sentence' max='50' title="Número de frases" placeholder="Ej. 5" value="5">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" id='lorem_sentence_btn' title="Genera" data-toggle="tooltip">Genera frases <i class="fa fa-redo"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>