<div class="card-deck">
    <div class="card border-info">
        <div class="card-header">
            <span class="text-info"><b>Genera contraseña</b></span>
        </div>
        <div class="card-body">
                            <span class="input-group-addon hand" title="Contiene minúsculas" data-toggle="tooltip" id="lowercase_span">
                                <input type="checkbox" checked="checked" id="lowercase"/>a-z
                            </span>
                            <span class="input-group-addon hand" title="Contiene mayúsculas" data-toggle="tooltip" id="uppercase_span">
                                <input type="checkbox" checked="checked" id="uppercase"/>A-Z
                            </span>
                            <span class="input-group-addon hand" title="Contiene números" data-toggle="tooltip" id="numbers_span">
                                <input type="checkbox" checked="checked" id="numbers"/>0-9
                            </span>
                            <span class="input-group-addon hand" title="Contiene caracteres especiales" data-toggle="tooltip" id="special_span">
                                <input type="checkbox" checked="checked" id="special"/>#$
                            </span>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-info" id="password_6_btn" data-toggle="tooltip" data-placement="bottom" title="Longitud 6 caracteres"><i class="fa fa-redo"></i>
                        [6]
                    </button>
                    <button class="btn btn-outline-info" id="password_8_btn" data-toggle="tooltip" data-placement="bottom" title="Longitud 8 caracteres"><i class="fa fa-redo"></i>
                        [8]
                    </button>
                </div>
                <input type="number" class="form-control" title="Longitud" placeholder="10" id="custom_length" min="4" max="1000" value="10">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="button" id='password_custom_btn' data-toggle="tooltip" title="Longitud personalizada"><i class="fa fa-redo"></i>
                    </button>
                    <button class="btn btn-outline-danger" id="clean_historic_password" title="Limpiar histórico" data-toggle="tooltip"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            <hr>
            <p id="generation_error">No se puede generar la contraseña con los datos introducidos</p>
            <ul id="historial_password" class="col_password">
            </ul>
        </div>
    </div>
    <div class="card border-info">
        <div class="card-header">
            <span class="text-info"><b>Calcula seguridad</b></span>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" placeholder="Escribe tu contraseña" id="password_input">
                <div class="input-group-append">
                    <button class="btn btn-outline-info copy" title="Copiar" data-clipboard-target="#password_input" data-toggle="tooltip"><i class="fa fa-copy"></i></button>
                </div>
            </div>
            <span class="text-muted"><i class="glyphicon glyphicon-info-sign"></i> La contraseña introducida no será usada, enviada ni almacenada en ningún sistema</span>
            <hr>
            <div id="password_result"></div>
            <br>
            <ul class="list-group" id="score_details"></ul>
        </div>
    </div>
</div> <!-- Card DECK -->
<br>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span><b>Leyenda <span class="text-muted">(según puntos obtenidos)</span> </b></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>Puntuaciones:</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">&gt;= 90: Muy segura</li>
                        <li class="list-group-item list-group-item-success">&gt;= 80: Segura</li>
                        <li class="list-group-item list-group-item-info">&gt;= 70: Muy fuerte</li>
                        <li class="list-group-item list-group-item-info">&gt;= 60: Fuerte</li>
                        <li class="list-group-item list-group-item-warning">&gt;= 50: Media</li>
                        <li class="list-group-item list-group-item-danger">&gt;= 25: Débil</li>
                        <li class="list-group-item list-group-item-danger">&gt;= 0: Muy débil</li>
                    </ul>
                </div>
                <div class="col">
                    <p>Se otorgan puntos por:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Número de caracteres</li>
                        <li class="list-group-item">Combina mayúsculas y minúsculas</li>
                        <li class="list-group-item">Contiene números</li>
                        <li class="list-group-item">Contiene caracteres extraños</li>
                        <li class="list-group-item">Combina las anteriores</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- Card DECK -->