<div class="row checkbox-options ">
    <div class="col-md-12">
        <!--<label>Estilo del texto:</label>-->
        <div class="btn-group btn-group-md expand_all" role="toolbar">
            <button type="button" class="btn btn-default btn-info text-style" value="upper" title="MAYÚSCULAS" data-toggle="tooltip">MAYÚSCULAS</button>
            <button type="button" class="btn btn-default text-style" value="lower" title="minúsculas" data-toggle="tooltip">minúsculas</button>
            <button type="button" class="btn btn-default text-style" value="camel" title="Camel Case" data-toggle="tooltip">Camel Case</button>
        </div>
    </div>
</div>
<br>
<div class="card border-info">
    <div class="card-header">
        <span class="text-info"><b>Perfiles</b></span>
        <button id="nuevo_perfil" class="btn btn-info float-right" title="Genera otro" data-toggle="tooltip"><i class="fa fa-redo"></i> Nuevo perfil</button>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="usuario-tab" data-toggle="tab" href="#usuario" role="tab" aria-controls="usuario" aria-selected="true">Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="false">Empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="exportar-tab" data-toggle="tab" href="#exportar" role="tab" aria-controls="exportar" aria-selected="false"><i class="fas fa-certificate text-warning"></i> Exportar</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
                <br>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">DOI</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_nif" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_nif'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">Nombre</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_nombre" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_nombre' class="text-style-res"></span>
                                </span>
                            </div>

                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">Primer apellido</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_apellido1" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_apellido1' class="text-style-res"></span>
                                </span>
                            </div>

                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">Segundo apellido</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_apellido2" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_apellido2' class="text-style-res"></span>
                                </span>
                            </div>

                            <div class='col-sm-12 col-lg-6'>
                                <label class="col-form-label">Nombre completo</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_nombre_completo" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_nombre_completo' class="text-style-res"></span>
                                </span>
                            </div>

                            <div class='col-sm-12 col-lg-3'>
                                <label class="col-form-label">Apellidos</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_apellidos_completos" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_apellidos_completos' class="text-style-res"></span>
                                </span>
                            </div>

                            <div class='col-sm-12 col-lg-3'>
                                <label class="col-form-label">Fecha de nacimiento</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_fecha_nacimiento" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-birthday-cake"></i> <span id='result_profile_fecha_nacimiento'></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label class="col-form-label">Email</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_email" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-envelope"></i> <span id='result_profile_email'></span>
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="col-form-label">Teléfono</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_telefono" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-mobile-alt"></i> <span id='result_profile_telefono'></span>
                                </span>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <label class="col-form-label">Pasaporte</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_pasaporte" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_pasaporte'></span>
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label class="col-form-label">Seguridad social</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_ssn" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_ssn'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <label class="col-form-label">Dirección</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_direccion" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-home"></i> <span id='result_profile_direccion' class="text-style-res"></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-lg-2">
                                <label class="col-form-label">CP</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_codigo_postal" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_codigo_postal'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="col-form-label">Municipio</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_municipio" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_municipio' class="text-style-res"></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label class="col-form-label">Provincia</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_provincia" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_provincia' class="text-style-res"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Nombre de usuario</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_username" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-user"></i> <span id='result_profile_username'></span>
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label">Contraseña</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_password" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-lock"></i> <span id='result_profile_password'></span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <label class="col-form-label">Número de tarjeta</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_tarjeta" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-credit-card"></i> <span id='result_profile_tarjeta'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-1">
                                <label class="col-form-label">Caducidad</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_tarjeta_fecha" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_tarjeta_fecha'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-1">
                                <label class="col-form-label">CVV</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_tarjeta_cvc" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_tarjeta_cvc'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <label class="col-form-label">IBAN</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_iban" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-piggy-bank "></i> <span id='result_profile_iban'></span>
                                </span>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-2">
                                <label class="col-form-label">BIC(SWIFT)</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_bic" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_bic'></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">CIF</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_cif" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_cif'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Razón social</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_razon_social" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_razon_social' class="text-style-res"></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Fecha constitución</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_fecha_constitucion" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_fecha_constitucion'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">CNAE</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_cnae" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_cnae'></span>
                                </span>
                            </div>
                            <div class='col-sm-12 col-lg-8'>
                                <label class="col-form-label">Actividad</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_actividad" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_actividad'></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Email</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_email_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-envelope"></i> <span id='result_profile_email_empresa'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Teléfono</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_telefono_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-phone"></i> <span id='result_profile_telefono_empresa'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Fax</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_fax_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-fax"></i> <span id='result_profile_fax_empresa'></span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class='col-sm-6 col-lg-4'>
                                <label class="col-form-label">Dirección</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_direccion_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <i class="fa fa-building"></i> <span id='result_profile_direccion_empresa' class="text-style-res"></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-2'>
                                <label class="col-form-label">CP</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_codigo_postal_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_codigo_postal_empresa'></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">Municipio</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_municipio_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_municipio_empresa' class="text-style-res"></span>
                                </span>
                            </div>
                            <div class='col-sm-6 col-lg-3'>
                                <label class="col-form-label">Provincia</label>
                                <span class="albert copy_html hand" data-clipboard-target="#result_profile_provincia_empresa" data-toggle="tooltip" title="Click para copiar">
                                    <span id='result_profile_provincia_empresa' class="text-style-res"></span>
                                </span>
                            </div>
                        </div>
                        <!--</section>-->
                    </div>
                </div>
            </div>
             <div class="tab-pane fade" id="exportar" role="tabpanel" aria-labelledby="exportar-tab">
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label for="perfil_exportar_doc">Tipo de documento</label>
                        <select class="form-control" id="perfil_exportar_doc">
                            <option value="perfil_usuario">Perfil de usuario</option>
                            <option value="perfil_empresa">Perfil de empresa</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="perfil_exportar_quantity">Cantidad (máximo: 100)</label>
                        <input type="number" class="form-control" max="100" id="perfil_exportar_quantity" value="10"/>
                    </div>
                    <div class="col-md-3">
                        <label for="perfil_exportar_exportar">&nbsp;</label>
                        <button class="btn btn-outline-info btn-block" id="perfil_exportar_exportar"><i class="fa fa-redo"></i> Exportar</button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_perfil_exportar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Exportar perfiles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="perfil_exportar_filename">Nombre del fichero:</label>
                        <input class="form-control" id="perfil_exportar_filename" placeholder="mifichero" autofocus="autofocus"/>
                        <span class="text-muted">El sistema añade automáticamente la extensión</span>
                    </div>
                    <div class="col-md-6">
                        <label class="label" for="perfil_exportar_format">Formato:</label>
                        <select class="form-control" id="perfil_exportar_format">
                            <option value="json">.json</option>
                            <option value="xml">.xml</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- generadordni_modal_descarga -->
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- generadordni modal -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-7556109134559449"
                             data-ad-slot="1224987302"
                             data-full-width-responsive="true"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" id="perfil_exportar_download" data-dismiss="modal">Generar y Descargar</button>
            </div>
        </div>
    </div>
</div>